<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vizdashcam">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}"/>

        <service
            android:name=".ServicePreview"
            android:enabled="true"
            android:stopWithTask="false"/>

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashscreenActivity"
            android:theme="@style/AppTheme.Fullscreen"/>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"/>
        <activity android:name=".activities.StorageDialogActivity"/>
        <activity
            android:name=".activities.VideoListActivity"
            android:label="@string/videos"/>
        <activity android:name=".activities.VideoItemActivity"/>
        <activity
            android:name=".activities.PermissionsActivity"
            android:theme="@style/AppTheme.Fullscreen"/>
        <activity android:name=".activities.VideoPlayerActivity">
        </activity>
    </application>

</manifest>